* {
  margin: 0;
}
body {
  background-color:rgb(195 195 195);
  margin: 0;
}
.card-div {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 20% 10%;
  margin-bottom: 20px;

}

.card-div-2 {

  position: relative;

  display: flex;
  flex-direction: column;
  grid-column: 3/6;
  box-shadow: 0px 0px 0px 4px rgb(54 54 54);
  border-radius: 20px;

}
.info {
}
.img-div {
  grid-column: 1/2;
}
img {
  height: 400px;
width: 100%;
}
.navbar-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  background-color: rgb(0 67 255);
  margin-bottom: 60px;
}
.navbar-title {
  font-size: 50px;
  color: white;
}
.dollar-place-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.dollar-sign {
  font-size: 15px;
  margin-right: 4px;
  width: fit-content;
  border-radius: 100%;
}
.title{
  text-align: center;
}
.price{
  margin-top: 30px;
  margin-left:20px;
}
.when-to-go{
  margin-top: 50px;
  margin-left:20px;
}
.description{
  margin-top: 50px;
  margin-left:20px;
}

/* display: flex;
flex-direction: column;
align-items: center; */
