nav{
  display: flex;
  padding: 20px;
  box-shadow: 0px 8px 4px -3px rgba(128, 128, 128, 0.305);
  margin-bottom: 10px;
}
.all-card-div{
  display: flex;
  justify-content: space-between;
  margin-left:20px;
  overflow: auto;
}
.card-div>button{
  position: absolute;
  bottom: 270px;
  left: 5px;
}
.card-div{
 position: relative;
  width:190px;
  margin-right:50px;

height: fit-content;
z-index: -1;
}
.card-div>img{
width:140px;
height: 235px;
}
.app-div{
  display: flex;
  width: 500px;
 
  margin: 0;
  flex-direction: column;
  height: 800px;
}
.Navbar{
  position: relative;
}
.bottom-info-div{
  font-size: 12px;
  display: grid;
  grid-template-rows: repeat(3, 20px);
}
.star-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.star-line>li{
margin-left:3px;
padding-left: 1px;
color:grey;
}

.hero-photo{
  width:350px;

}

.hero-photo-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero--text{
  width:270px;
}
.hero-lower-div{
  margin-left:20px;
}
.hero--header{
  font-size: 38px;
}

.comments{
  color:grey;
  margin-left:3px;
}

.description{
  font-size: 10px;
}