* {
  margin: 0;
}
.app {
  position: absolute;
  margin: 20px;
  height: 40px;
  width: 40px;
}
.app:active {
  position: absolute;
  margin: 20px;
  height: 40px;
  width: 40px;
}
.line1 {
  width: 35px;
  height: 3px;
  border-radius: 2px;
  background-color: grey;
}
.line2 {
  width: 35px;
  border-radius: 2px;
  height: 3px;
  background-color: grey;
}
.line3 {
  width: 35px;
  border-radius: 2px;
  height: 3px;
  background-color: grey;
}
.line4 {
  position: absolute;
  width: 35px;
  border-radius: 2px;
  height: 3px;
  background-color: grey;
  transform: rotate(135deg);
}
.line5 {
  position: absolute;
  width: 35px;
  height: 3px;
  border-radius: 2px;
  background-color: grey;
  transform: rotate(45deg);
}

.hamburger {
  border-radius: 10px;
  display: flex;
  position: relative;
  height: 40px;
  width: 40px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
}

.hamburger2 {
  border-radius: 10px;
  top: 0px;
  display: flex;
  position: absolute;
  height: 40px;
  width: 40px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
}

.hamburger2:active {
  display: flex;
  position: absolute;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  flex-direction: row;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0);
}
