h1{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style:solid;
  width: 50px;
  height:50px;
  border-radius: 20px;
}

.die{
  margin-top: 30px;
  border-radius:20px;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style:solid;
  width:100px;
  height:100px;

  box-shadow: 0px 5px 1px 2px #0c0505;
  animation: shake.5s;
}

.die-div{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap:20px;
}

