.main-div{
    height: 800px;
    width: 800px;

}

.pink{
    position: relative;
    background-color: pink;
    width: 740px;
    height: 100px;
    border-style: solid;
    margin-bottom: 10px;
    margin-left: 27px;
}
.purple{
    position: relative;
    display: inline-block;
    background-color: purple;
    width: 20%;
    margin-left: 27px;
    height: 100px;
    border-style: solid;
    margin-bottom: 10px;

}
.blue{
    position: relative;
    display: inline-block;
    background-color: blue;
    width: 353px;
    height: 100px;
    border-style: solid;
    margin-bottom: 10px;
    margin-left: 27px;
}
.green{
   
    position: relative;
    display: inline-block;
    background-color: green;
    width: 548px;
    height: 100px;
    border-style: solid;
    margin-bottom: 10px;
    margin-left: 27px;
}
.orange{
    position: relative;
    display: inline-block;
    background-color: orange;
    width: 159px;
    height: 100px;
    border-style: solid;
    margin-bottom: 10px;
    margin-left: 27px;
}
/*///////////////////////////////////////////*/
@media only screen and  (max-width: 768px) {
    .main-div{
        height: 400px;
        width: 400px;
       
    }
    
    .pink{
        position: relative;
        background-color: pink;
        width: 100%;
        height: 20px;
        border-style: solid;
        margin-bottom: 10px;
        margin-left: 27px;
    }
    .purple{
        position: relative;
        display: inline-block;
        background-color: purple;
        width: 100%;
        margin-left: 27px;
        height: 20px;
        border-style: solid;
        margin-bottom: 10px;
    
    }
    .blue{
        position: relative;
        display: inline-block;
        background-color: blue;
        width: 100%;
        height: 20px;
        border-style: solid;
        margin-bottom: 10px;
        margin-left: 27px;
    }
    .green{
       
        position: relative;
        display: inline-block;
        background-color: green;
        width: 100%;
        height: 20px;
        border-style: solid;
        margin-bottom: 10px;
        margin-left: 27px;
    }
    .orange{
        position: relative;
        display: inline-block;
        background-color: orange;
        width: 100%;
        height: 20px;
        border-style: solid;
        margin-bottom: 10px;
        margin-left: 27px;
    }



}