*{
  margin: 0;
}
.nav-div{
  padding: 30px;
  background-color: rgb(165, 198, 247);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.issue-lower-div{
  display: flex;
  
}
.issue-lower-div>section{
padding: 20px;
  
}

.comment-div{
  display: flex;
}

