*{
  width:fit-content;
  margin:0;
  
}
.main-div{
  color: white;
  margin-bottom: 10px;
  box-shadow: -1px 4px 3px 1px #8001008a;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(239, 0, 0, 0.569);
}
.header-div{
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(247 136 21 / 57%);
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: -1px 4px 3px 1px #8001008a;
margin-bottom: 20px;
}
.header-div>h1{
text-align: center;
}
.list{
  background-color: blue;
}
.App{
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:url("https://media.istockphoto.com/photos/autumn-leaves-falling-on-the-ground-in-a-park-picture-id1278765757?k=20&m=1278765757&s=612x612&w=0&h=divUIAbvaXAdlcIMv3R0h7pKk_Uo3GC3GcwKhi2W-go=");
 background-size: 100%;
  width: 500px;
  border-radius: 20px;
}
.list-ul{
  display: grid;
  grid-template-columns: 100px 10px 100px 10px auto;
  list-style: none;
  padding: 9px;
  width: fit-content;
  background-color: #00000096;
  justify-items: start;
  align-items: center;
}

.item1{
  padding: 3px;
  grid-column: 1/2;
  border-radius: 10px;
  width:fit-content;
box-shadow: 0px 5px 5px 5px red;
  color:white;
  margin-right: 20px;
  background-color: rgb(255 0 0 / 51%);
  box-shadow: 0px 4px 5px 1px #f8e500ad;
}
.date{
  padding: 3px;
  border-radius: 10px;
  color: white;
  grid-column: 3/4;
  width: fit-content;
  background-color: rgb(255 0 0 / 51%);
  box-shadow: 0px 4px 5px 1px #f8e500ad;
}

.remove{

  color: white;
 
  padding: 3px;
  border-radius: 10px;
  grid-column: 5/-1;
  width: fit-content;
  background-color: rgb(255 0 0 / 51%);
  box-shadow: 0px 4px 5px 1px #f8e500ad;
}