img {
  margin-left:50px;
    position:relative;
   grid-column: 1/2;
   grid-row: 1/2;
  max-height: 200px;
  max-width: 200px;
}
input {
  width: 30px;
  height: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
button {
 
  background-color: blue;
  color: yellow;
  font-style: bold;
    border-style: solid;
  border-color:yellow;
  font-size: 20px;
  border-width:5px;
  grid-column: 3/4;
  grid-row: 16/17
}
nav {
  display: flex;
  justify-content: center;
  height: 90px;
}
h1{
    text-align: center;
}
.mario-title {
  position: relative;
  bottom: 30px;
  font-family: "New Super Mario Font U", sans-serif;
  font-size: 40px;
}
.goomba {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, 40px);
    grid-column: 3/5;
    grid-row:1/5;
  margin-left: 10px;
  box-shadow: 0px 5px 10px;
  position: relative;
 
  border-radius: 10px;
  background-color: yellow;
}
.bob-omb {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, 40px);
  display: grid;
  margin-left: 10px;
  box-shadow: 0px 5px 10px;
  position: relative;
  grid-column: 3/5;
  grid-row:6/10;
  border-radius: 10px;
  background-color: yellow;
}
.cheep-cheep {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, 40px);
  margin-left: 10px;
  box-shadow: 0px 5px 10px;
  position: relative;
  grid-column: 3/5;
  grid-row: 11/15;
  border-radius: 10px;
  background-color: yellow;
}
form {
  background-image: url("https://www.notion.so/image/https%3A%2F%2Fcoursework.vschool.io%2Fcontent%2Fimages%2Fsize%2Fw2000%2F2015%2F07%2Fmario-enemies.png?table=block&id=aae272f1-b354-47dc-a02d-c2ad3064faf0&spaceId=6aef2f33-de49-4357-824c-927199bca931&width=2000&userId=eeabbeb9-3075-4ff6-9afd-03118f2fce28&cache=v2") ;
  border-style: solid;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 315px);
  grid-template-rows: repeat(18, 48px);
}
.caught {
    text-align: center;
  bottom: 100px;
  grid-column: 2/3;
  grid-row: 3/4;
}
.total-cost{
    bottom: 10px;;
    text-align: center;
    position: relative;
  

  }
  .all-total{
    font-family: "New Super Mario Font U", sans-serif;
    font-size:50px ;
    margin-left:40px;
    text-align: center;
 
    top: 10px;
    background-color: yellow;
    border-radius:20px;
    box-shadow:10px 10px 10px ;
    grid-column: 4/5;
    grid-row: 16/17;
  }
.footer{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: black;
    grid-column: 2/6;
    grid-row:18/19;
}
a{
    color:yellow;
}

@media only screen and (max-width: 1000px) and (min-width: 500px){

  img {
   
     margin:0;
     margin-left:10px;
     grid-column: auto;
     grid-row: 2/4;
    width:100px;
    height:100px;
  }
  input {
    width: 30px;
    height: 20px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  button {
   
    background-color: blue;
    color: yellow;
    font-style: bold;
      border-style: solid;
    border-color:yellow;
    font-size: 20px;
    border-width:5px;
    grid-column: 3/5;
    grid-row: 16/17
  }
  nav {
    display: flex;
    justify-content: center;
    height: 90px;
  }

  .mario-title {
    position: relative;
    bottom: 30px;
    font-family: "New Super Mario Font U", sans-serif;
    font-size: 40px;
  }
  .goomba {
    display: grid;
    grid-template-columns: repeat(6, 52px);
    grid-template-rows: repeat(5, 40px);
      grid-column: 3/6;
      grid-row:1/5;
    margin-left: 10px;
    box-shadow: 0px 5px 10px;
    position: relative;
   
    border-radius: 10px;
    background-color: yellow;
  }
  h1 {
    grid-column: 4/7;
    grid-row:1/2;
    font-size:13px;
    text-align: left;
    
  }
  .bob-omb {
    grid-template-columns: repeat(6, 52px);
    grid-template-rows: repeat(5, 40px);
    display: grid;
    margin-left: 10px;
    box-shadow: 0px 5px 10px;
    position: relative;
    grid-column: 3/6;
    grid-row:6/10;
    border-radius: 10px;
    background-color: yellow;
  }
  .cheep-cheep {
    display: grid;
    grid-template-columns: repeat(6, 52px);
    grid-template-rows: repeat(5, 40px);
    margin-left: 10px;
    box-shadow: 0px 5px 10px;
    position: relative;
    grid-column: 3/6;
    grid-row: 11/15;
    border-radius: 10px;
    background-color: yellow;
  }
  form {
    background-image: url("https://www.notion.so/image/https%3A%2F%2Fcoursework.vschool.io%2Fcontent%2Fimages%2Fsize%2Fw2000%2F2015%2F07%2Fmario-enemies.png?table=block&id=aae272f1-b354-47dc-a02d-c2ad3064faf0&spaceId=6aef2f33-de49-4357-824c-927199bca931&width=2000&userId=eeabbeb9-3075-4ff6-9afd-03118f2fce28&cache=v2") ;
    border-style: solid;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 108px);
    grid-template-rows: repeat(18, 48px);
  }
  .caught {
      text-align: center;
    bottom: 100px;
    grid-column: 4/6;
    grid-row: 2/4;
  }
  .total-cost{
      bottom: 10px;;
      text-align: center;
      position: relative;
    
  
    }
    .all-total{
      font-family: "New Super Mario Font U", sans-serif;
      font-size:50px ;
    
      text-align: center;
   margin:0;
      top: 10px;
      background-color: yellow;
      border-radius:20px;
      box-shadow:10px 10px 10px ;
      grid-column: 5/6;
      grid-row: 16/17;
    }
  .footer{
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-around;
      background-color: black;
      grid-column: 2/7;
      grid-row:18/19;
  }
  a{
      color:yellow;
  }

}
@media only screen and (max-width: 500px) {

  img {
   
     margin:0;
     margin-left:10px;
     grid-column: auto;
     grid-row: 3/5;
    width:100px;
    height:100px;
  }
  input {
    width: 30px;
    height: 20px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  button {
   
    background-color: blue;
    color: yellow;
    font-style: bold;
      border-style: solid;
    border-color:yellow;
    font-size: 20px;
    border-width:5px;
    grid-column: 2/5;
    grid-row: 16/17
  }
  nav {
    display: flex;
    justify-content: center;
    height: 90px;
  }

  .mario-title {
    position: relative;
    bottom: 30px;
    font-family: "New Super Mario Font U", sans-serif;
    font-size: 40px;
  }
  .goomba {
    display: grid;
    grid-template-columns: repeat(6, 52px);
    grid-template-rows: repeat(5, 40px);
      grid-column: 1/7;
      grid-row:1/5;
    margin-left: 10px;
    box-shadow: 0px 5px 10px;
    position: relative;
   
    border-radius: 10px;
    background-color: yellow;
  }
  h1 {
    grid-column: 4/7;
    grid-row:1/2;
    font-size:15px;
    text-align: left;
  }
  .bob-omb {
    grid-template-columns: repeat(6, 52px);
    grid-template-rows: repeat(5, 40px);
    display: grid;
    margin-left: 10px;
    box-shadow: 0px 5px 10px;
    position: relative;
    grid-column: 1/7;
    grid-row:6/10;
    border-radius: 10px;
    background-color: yellow;
  }
  .cheep-cheep {
    display: grid;
    grid-template-columns: repeat(6, 52px);
    grid-template-rows: repeat(5, 40px);
    margin-left: 10px;
    box-shadow: 0px 5px 10px;
    position: relative;
    grid-column: 1/7;
    grid-row: 11/15;
    border-radius: 10px;
    background-color: yellow;
  }
  form {
    background-image: url("https://www.notion.so/image/https%3A%2F%2Fcoursework.vschool.io%2Fcontent%2Fimages%2Fsize%2Fw2000%2F2015%2F07%2Fmario-enemies.png?table=block&id=aae272f1-b354-47dc-a02d-c2ad3064faf0&spaceId=6aef2f33-de49-4357-824c-927199bca931&width=2000&userId=eeabbeb9-3075-4ff6-9afd-03118f2fce28&cache=v2") ;
    border-style: solid;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(18, 48px);
  }
  .caught {
      text-align: center;
    bottom: 100px;
    grid-column: 4/6;
    grid-row: 2/4;
  }
  .total-cost{
      bottom: 10px;;
      text-align: center;
      position: relative;
    
  
    }
    .all-total{
      font-family: "New Super Mario Font U", sans-serif;
      font-size:50px ;
            text-align: center;
            margin-right:20px;
       top: 10px;
      background-color: yellow;
      border-radius:20px;
      box-shadow:10px 10px 10px ;
      grid-column: 2/5;
      grid-row: 17/18;
    }
  .footer{
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-around;
      background-color: black;
      grid-column: 1/6;
      grid-row:18/19;
  }
  a{
      color:yellow;
  }

}